{
  "parser": "babel-eslint", // https://github.com/babel/babel-eslint
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
  },
  "globals": {
    "gettext": true,
    "dgettext": true,
    "ngettext": true,
    "dngettext": true,
    "pgettext": true,
    "dpgettext": true,
    "npgettext": true,
    "dnpgettext": true,
    "appVersion": true,
    "__ngt": true,
    "__gtf": true,
    "expect": true,
    "sinon": true,
    "__DEV__": true,
    "google": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": false,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "jsx": true
  },
  "plugins": [
    "react"
  ]
}
