body, html {
	height: 100% auto !important;
	font-family: 'Work Sans', sans-serif !important;
	background-image: url("../images/BG.png") !important;
    background-attachment: fixed !important;
	width: 100% auto;
	background-size: cover;
}