@import "./_vars";
@import "_mixins";

.invisible {
  opacity: 0;
}

.view-enter {
  @include smooth-fade-in-up(0s, 0.5s, ease-in);
   z-index: 1;
 }

// fix form inline
.form-inline > * {
   margin:5px 3px;
}

// fix
.panel-heading {
  z-index: 1 !important;
}

// fix
//.btn {
//  margin: {
//    left: 2px;
//    right: 2px;
//  }
//}

// fix
.well {
    padding: 7px;
}

// fix
input[type="radio"],
input[type="checkbox"] {
  margin-right: 2px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-top: 2px;
}
.sm-st-info span {
  font-size:13px;
}
.sm-st-info {
    text-align: center;
    font-size:13px;
}

.heatmap-div {
  margin-top:20px;
}

#sm-st-info-button {
  background-color:#427d90;
  height:30px;
  border-radius: 15px 15px 15px 15px;
  width:80px;
  color: white;
  cursor: pointer;
  padding:5px 5px 15px 25px;
}